.menuitem :hover {
    background: rgb(236, 235, 235);
    color: red;
}

.header,.contuctContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    width: 100%;
    background-size : cover;
    background-attachment: fixed;
    background-image: linear-gradient(0deg,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 50%),url(../../image/cyclist.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.header img{
    position: absolute;
    top: 60px;
    right: 8%;
}
.header h1{
    font-family: Arial black;
}
.header p{
    font-size: 19px;
    color: rgb(229, 226, 226);
}
@media screen and (max-width:1000px) {
    .header img{
        display: none;
    }
}
.discription{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.discription h2 {
    font-family: Arial black;
    position: relative;
}
.tolse h2 {
    font-family: Arial black;
    position: relative;
    margin-top: 100px;
}
.discription h2::before {
    content: "";
    position: absolute;
    height: 90%;
    width: 35px;
    background-color: #198754e7;
    bottom: 82%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
 }
.tolse h2::before {
   content: "";
   position: absolute;
   height: 90%;
   width: 35px;
   background-color: #198754e7;
   bottom: 79%;
   border-bottom-left-radius: 50%;
   border-top-right-radius: 50%;
}
.discription-container h5 {
    color: rgb(100, 99, 99);
    font-size: 20px;
    font-weight: 500;
}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}
.drow{
    position: absolute;
    bottom: -3.5%;
    padding: 0;
    margin: 0;
    left: 0;
    z-index: 2;
}
