.userProducts{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-shadow: rgba(138, 137, 137, 0.6) 0px 2px 8px 0px;
    padding: 0 5px;
    border-radius: 6px;
    background: #fff;
}
.product p{
    margin-bottom: 6px !important;
  }
.orderImage{
    display: block;
    padding-right: 2px;
}
.trnangectionId{
    font-size: 12px;
}
@media screen and (max-width:1000px) {
    .userProducts{
        padding: 0;
        margin: 0;
        width: 100%;
        gap: 20px;
        grid-template-columns: repeat(1,1fr);
        font-size: 10px;
    }
}
@media screen and (max-width:420px) {
    .orderIcon{
        display: none;
    }
    .trnangectionId{
        font-size: 8px;
    }
    /* .orderImage{
        display: none;
    } */
    
}